% -*- mode: erlang -*-

{minimum_otp_vsn, "17"}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{dialyzer, [
    {warnings, [race_conditions, 
                error_handling, 
                unmatched_returns, 
                underspecs,
                no_match]},
    {base_plt_location, ".depsolver_plt"},
    {base_plt_apps, [kernel, stdlib, erts, crypto, hipe, sasl, public_key]}
]}.

{deps, [
    {epocxy, ".*", 
        {git, "git://github.com/duomark/epocxy.git", {tag, "0.9.8e"}}}
]}.

{relx, [
    {release, {alpha, "v0.1.0"}, [libemp]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}, {include_erts, true}]}
    ]},
    {native, [
        {erl_opts, [{native, o3}, inline]}
    ]},
    {test, [
        {erl_opts, [debug_info, {d, 'DEBUG'}]}
    ]}
]}.
