% -*- mode: erlang -*-

{require_min_otp_vsn, "17"}.

{erl_opts, [
     native, {hipe, [o3]}, inline
     %debug_info 
    , fail_on_warning
    ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{deps, [
    {epocxy, ".*", 
        {git, "git://github.com/duomark/epocxy.git", {tag, "0.9.8e"}}}
]}.

